{% extends 'base.html.twig' %}

{% block menu_quest_message %}
You find yourself in a room with a meticulously carved statue.<br/> 
It is engraved with the words "Your Host".<br/>
There are exits to the East and West. <br/>

{% endblock %}

{% block menu_quest_obelisk %}There is a mysterious obelisk on the floor with many buttons. Most are unreadable, but the one enscribed with "About Me" is glowing slightly.{% endblock %}

{% block body %}
<h1>About Me</h1>
<p>I am a developer from Atlanta that has basically been working with the World Wide Web since there has been a World Wide Web to work with. Some of the first things that I programmed were text adventures written in Basic. It was fun finding a way to bring two different development experiences to you in an interesting mash-up. If you want to find out more about me, please check out my about.me profile.</p>
{% endblock %}
