{% extends 'base.html.twig' %}

{% block menu_quest_message %}
You walk into a room with several paintings of jesters hanging on the walls.<br/>
There are exits to the East and West. <br/>
{% endblock %}

{% block menu_quest_obelisk %}There is a mysterious obelisk on the floor with many buttons. Most are unreadable, but the one enscribed with "April Fools" is glowing slightly.{% endblock %}

{% block body %}
<h1>April Fools on the Web</h1>
<p>It is not uncommon for various Web sites to create practical jokes for April Fools. Here are some notable ones:</p>
<ul>
	<li>Georgia Tech: I worked on this one. Several Colleges including the College of Computing, the College of Design, the College of Engineering and the College of Sciences hosted JavaScript that unlocks special degrees if you enter the Konami Code.</li>
	<li>Google</li>
	<li>ThinkGeek</li>
	<li>Blizzard</li>
</ul>
{% endblock %}
