{% extends 'base.html.twig' %}

{% block menu_quest_message %}
You find yourself in a room with a painting of a sextant, a slide rule, and an abacus.<br/> 
It is engraved with the words "Dedicated to discovery".<br/>
There are exits to the West. <br/>

{% endblock %}

{% block menu_quest_obelisk %}There is a mysterious obelisk on the floor with many buttons. Most are unreadable, but the one enscribed with "Other Projects" is glowing slightly.{% endblock %}

{% block body %}
<h1>Other Projects</h1>
<p>This and other projects can be found by visiting me on <a href="https://github.com/wrusk">Github</a>.</p>
{% endblock %}